.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-top: 1px solid #333;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-list {

  display: flex;
  justify-content: bottom;
  gap: 1.5rem;
  list-style: none;
  margin: top 50px;
  padding: 0;
}

.footer-copy {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #888;
  margin-top: 0.5rem;
}

